<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>
	<h1>To są kontakty. Zalogowany użytkownik to: {{main.currentUser.login}}</h1>
	
	<table class="table table-hover">
		<ul>
			<tr ng-repeat="contact in main.contacts">
				<td>{{contact.fname}}</td>
				<td>{{contact.lname}}</td>
				<td>{{contact.phone}}</td>
				<td>{{contact.birthday}}</td>
				<td>{{contact.location}}</td>
				<td>{{contact.notes}}</td>
				<td><button type="button" class="btn btn-danger" ng-click="main.deleteContact(contact)">Usuń</button></td>
				<td><button type="button" class="btn btn-warning" ng-click="main.editContact(contact)">Edytuj</button></td>
			</tr>
		</ul>
	</table>
  <form>
	Imię:<br>
	<input type="text" name="fname" ng-model="main.newContact.fname">
	<br>
	Nazwisko:
	<br>
	<input name="lname" type="text" ng-model="main.newContact.lname">
	<br>
	Numer telefonu:<br>
	<input name="phone" type="text" ng-model="main.newContact.phone">
	<br>
	Urodziny:<br>
	<input name="birthday" type="text" ng-model="main.newContact.birthday">
	<br>
	Lokacja:<br>
	<input name="location" type="text" ng-model="main.newContact.location">
	<br>
	Notatka:<br>
	<input name="notes" type="text" ng-model="main.newContact.notes">
	<br>
	<input type="submit" value="Dodaj" class="btn" ng-click="main.addContact()">
  </form>
</div>
